.portal{
    display:grid;
    grid-template-columns: 150px 1fr;
    grid-gap:.5rem;
}

/* left side panel */

.contentPanel{
    width:150px;
    display:grid;
    position:fixed;
    z-index: 5;
}

.panelItem{
    text-align: right;
    padding:1rem 1rem 1rem 1rem;
    margin-bottom: .5rem;
    background-color: #fff;
    border:none;
    cursor:pointer;
    border-right: 5px solid #FF165D;
    font-weight: 700;
    font-size: .8rem;
    text-decoration: none;
    color:#000;
    transition:200ms ease-in-out;
}

.panelItem:hover{
    background-color: #FF165D;
    color:#fff;
    transition:200ms ease-in-out;
}

/* right side portal content */

/* my course, course plan */

.contents{
    background-color: #fff;
    margin-right:2rem;
    height: 100%;
    padding:1rem;
}

.myCourses{
    display:grid;
    grid-gap:1rem;
    padding:1rem;
}

.info{
    display:grid;
    grid-gap:1rem;
    margin-bottom:1rem;
}

.text{
    font-size: .8rem;
    font-weight: 500;
}

.sectionTitle{
    font-size: .9rem;
    font-weight: 500;
    margin-left: 1rem;
}

.myCourseList{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:1rem;
    padding-bottom: .5rem;
    border-bottom:2px solid #FF165D;
}

.courseThumb{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:.5rem;
    align-self: flex-end;
    justify-self: center;
    padding:.5rem;
    text-decoration:none;
    background-color: transparent;
    border:none;
    text-align: left;
    cursor:pointer;
}

.thumbTitle{
    font-size: .8rem;
    font-weight: 700;
    color:#000;
    text-decoration:none;
}

.advert{
    display:grid;
    grid-gap:1rem;
    padding:1rem;
}

.advertThumb{
    display:grid;
    grid-template-columns: 180px 1fr 100px;
    grid-gap:.2rem;
}

.advertBtn{
    display:grid;
    grid-template-columns: 1fr;
    align-self: flex-start;
    padding:.5rem;
    border-left:2px solid #FF165D;
}

/* resource */

.resourceThumb{
    display:grid;
    grid-template-columns: 100px 1fr;
    text-decoration: none;
    color:#000;
}

.resourceLogo{
    align-self: center;
    justify-self: center;
    color:#FFF;
    font-size:1.5rem;
    padding:.5rem .7rem;
    background-color: #FF165D;
    border-radius: 100px;
}

/* tasks */

.taskSection{
    display: grid;
    grid-template-columns: 1fr 100px 100px;
    grid-gap: 1rem;
}

.taskInWords{
    text-align: justify;
}

.taskForm{
    display:grid;
    transition: 200ms ease-in-out;
}

.fa-cloud-upload-alt{
    color:#fff;
    font-size: 2rem;
}

.fileBtn{
    padding: 1.6rem 1rem .2rem 1rem;
    background-color: #3EC1D3;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    cursor: pointer;
}

.taskForm:hover .fileBtn{
    background-color: #37acbb;
    transition: 200ms ease-in-out;
}

.taskForm:hover .fileName{
    background-color: #37acbb;
    transition: 200ms ease-in-out;
}

.fileName{
    background-color: #3EC1D3;
    padding: 0rem .5rem 1.3rem .5rem;
    color:#fff;
    font-size: .6rem;
    font-weight: 500;
    border-radius: 0px 0px 15px 15px;
    cursor: pointer;
}

input[type=file]::file-selector-button {
    display:none;
}

.TaskPDF{
    padding: 2rem;
    background-color: #FF165D;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    color: #fff;
    font-size: 2rem;
    transition: 200ms ease-in-out;
}

.TaskPDF:hover{
    background-color: #e91655;
    transition: 200ms ease-in-out;
}

.TaskPDFlink{
    display:grid;
}

.taskSubmitBtn{
    padding: .5rem;
    font-size: .7rem;
    font-weight: 500;
    color:#fff;
    border:none;
    margin-top: 1rem;
    border-radius: 15px;
    background-color: #FF165D;
    width:100%;
    cursor:pointer;
    transition: 200ms ease-in-out;
}

.taskSubmitBtn:hover{
    background-color: #e91655;
    transition: 200ms ease-in-out;
}

/* certificate */

.certificateText{
    display: grid;
    grid-template-columns: 1fr 30px;
}

.certificateInfo{
    padding: .5rem;
}

.downloadBtn{
    background-color: #FF165D;
    color: #fff;
    padding: .5rem .4rem;
    border-radius: 20px;
    text-align: center;
    font-size: .8rem;
    transition: 200ms ease-in-out;
}

.downloadBtn:hover{
    background-color: #e91655;
    transition: 200ms ease-in-out;
}

.certificateImg{
    cursor:not-allowed;
}

.certificateProtector::before{
    content:"";
    width:100%;
    height:100%;
    background-color: transparent;
    opacity: .1;
    position:absolute;
}












/* right side */

/* student info */

.studentInfo{
    display:grid;
    grid-template-columns:150px 1fr;
    margin-top:20px;
}

.studentBasicInfo{
    padding:1rem 0rem;
    line-height: 1.5;
}

/* other info nav */

.rightNav{
    display:block;
    margin:.5rem;
    position: absolute;
    margin-right: 20px;
    right:0;
    top:100px;
    padding-left:255px;
    padding-bottom:.5rem;
    border-bottom:2px solid #FF165D;
}

.rightNavBtn{
    background-color: transparent;
    color:#000;
    border: none;
    padding-left: .2rem;
    font-size: .8rem;
    cursor:pointer;
}

.rightNavBtn:hover{
    background-color: transparent;
    color:#FF165D;
    border: none;
    padding-left: .2rem;
    font-size: .8rem;
    cursor:pointer;
}

.rightSections{
    position:fixed;
    top:130px;
    width:500px;
    padding: 1.5rem 0rem;
    line-height: 1.5;
}

/* image uploader */

.message_form{
    border-radius: 20px; 
}

.placeholder_image{
    width: 50%;
    margin: auto;
    display: grid;
    align-self: center;
    border-radius: 100px;
    border: 10px solid #fff;
    cursor: pointer;
    transition: 300ms ease-in;
}

.placeholder_image:hover{
    width: calc(50% + 10px);
    margin: auto;
    border-radius: 100px;
    border: 5px solid #fff;
    cursor: pointer;
    transition: 300ms ease-in;
}

.img_uploader{
    display: none;
}

.uploadPhoto{
    background-color: #fff;
    border:none;
    position:absolute;
    top:102px;
    left:112px;
    border-radius: 50px;
}

.uploadTick{
    color: #3ed357;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.uploadTick:hover{
    color: #37c24e;
    transition: 200ms ease-in-out;
}

/* grade */

.grade{
    display:none;
    width:450px;
    margin:0rem 1rem;
    transform: translateX(-1000);
    -webkit-animation: popUpFromRight 1s forwards; /* for less modern browsers */
    animation: popUpFromRight 1s forwards;
}

.gradeSymbol{
    background-color:#3EC1D3;
    color:#fff;
    justify-self: center;
    align-self: center;
    padding:.3rem .4rem;
    border-radius: 50px;
    text-align: center;
}

.gradeContent{
    display:grid;
    grid-template-columns: 35px 1fr;
    text-align: right;
}

.gradeInfo{
    padding:.5rem;
}

.points{
    color:#FF165D;
}

.gradQuestions{
    margin-top: 1rem;
    display:grid;
    grid-gap: 1rem;
    text-align: justify;
}

.ans{
    display:grid;
    grid-template-columns: 40px 1fr;
}

/* payment */

.payment{
    display:none;
    grid-gap:1rem;
    transform: translateX(-1000);
    -webkit-animation: popUpFromRight 1s forwards; /* for less modern browsers */
    animation: popUpFromRight 1s forwards;
}

.paymentForm{
    display:grid;
    grid-template-columns: 70px 2fr 1fr;
    grid-gap:.5rem;
}

.paymentForm .label{
    padding: .2rem;
}

.paymentForm .input{
    text-align: center;
}

/* notification */

.notification{
    display:grid;
    grid-gap:.5rem;
    transform: translateX(-1000);
    -webkit-animation: popUpFromRight 1s forwards; /* for less modern browsers */
    animation: popUpFromRight 1s forwards;
}

.noticeHeader{
    background-color: #3EC1D3;
    color:#FFF;
    padding: .5rem 1rem;
}

.notice{
    background-color: #F6F7D7;
    padding: 1rem;
    line-height: 1.5;
    text-align: justify;
}

#notifyBtn{
    color:#FF165D;
}

/* messaging */

.messaging{
    display:none;
    transform: translateX(-1000);
    -webkit-animation: popUpFromRight 1s forwards; /* for less modern browsers */
    animation: popUpFromRight 1s forwards;
}


/* security */

.security{
    display:none;
    transform: translateX(-1000);
    -webkit-animation: popUpFromRight 1s forwards; /* for less modern browsers */
    animation: popUpFromRight 1s forwards;
}


/* under dev */

.underdevelopment{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color: coral;
    height: 450px;
}

.fa-cog{
    display:grid;
    align-self: center;
    justify-self: center;
    color:#fff;
}

.bigCog{
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: right;
    font-size: 60px;
    animation-name: spinClockWise 2s;
    -webkit-animation: spinClockWise 2s forwards; /* for less modern browsers */
    animation-iteration-count: infinite;
}

.smallCogUp{
    justify-self: left;
    align-self:flex-end;
    font-size: 20px;
    margin-left:10px;
    animation-name: spinClockWise 2s;
    -webkit-animation: spinClockWise 2s forwards; /* for less modern browsers */
    animation-iteration-count: infinite;
}

.smallCogDown{
    justify-self: left;
    align-self:flex-start;
    font-size: 40px;
    animation-name: spinAntiClockWise 2s;
    -webkit-animation: spinAntiClockWise 2s forwards; /* for less modern browsers */
    animation-iteration-count: infinite;
}