/* key frames */

@keyframes popUpFromLeft {
    from {transform: translateX(-1000px);}
    to {transform: translateX(0px);}
}

@keyframes popUpFromRight {
    from {transform: translateX(1000px);}
    to {transform: translateX(0px);}
}

@keyframes popUpFromBottom {
    from {transform: translateY(1000px);}
    to {transform: translateY(0px);}
}

@keyframes spinClockWise {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(360deg);}
}

@keyframes spinAntiClockWise {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(-360deg);}
}