<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Form-->
    <link rel="stylesheet" href="../../Style/form.css">

    <!--Table-->
    <link rel="stylesheet" href="../../Style/table.css">

    <!--Keyframes-->
    <link rel="stylesheet" href="../../Style/keyframes.css">

    <!--Basic-->
    <link rel="stylesheet" href="../../Style/coursePortal/index.css">
    <link rel="stylesheet" href="../../Style/coursePortal/portalHome.css">

    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap" rel="stylesheet">

    <!--radio toggle-->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <!--font awesome-->
    <script src="https://kit.fontawesome.com/aafecdc4bf.js" crossorigin="anonymous"></script>

    <!--Global-->
    <link rel="stylesheet" href="../../Style/global.css">

    <title>Document</title>

</head>
<body>
















    <div class="allLeft">

        <!--left side scrollable-->

        <div class="left">

            <!--nav fixed-->

            <div class="nav">
                <p><span class="bd">BD</span> <span class="courses">Courses</span></p>

                <div class="links" id="courseBtns">
                    <button class="linkBtn" id="allBtn" onclick="allBtnClicked()">All</button>
                    <button class="linkBtn" id="appBtn" onclick="appBtnClicked()">App</button>
                    <button class="linkBtn" id="webBtn" onclick="webBtnClicked()">Web</button>
                    <button class="linkBtn" id="pdfBtn" onclick="pdfBtnClicked()">Pdf</button>
                    <button class="linkBtn" id="vidBtn" onclick="vidBtnClicked()">Videos</button>
                </div>
            </div>

            <div class="navHolder">placeholder</div>

            <!--content navigation panel fixed-->

            <div class="contentPanel">

                <a href="myCourses.html" class="panelItem">My Courses</a>
                <a href="coursePlan.html" class="panelItem active">Course Plan</a>
                <a href="resources.html" class="panelItem">Resources</a>
                <a href="#" class="panelItem">Daily Tasks</a>
                <a href="#" class="panelItem">Final Project</a>
                <a href="#" class="panelItem">Ranking</a>
                <a href="#" class="panelItem">Certificate</a>

            </div>

            <!--content scrollable-->

            <div class="portal" id="content">

                <span></span>

                <div class="contents">












                    <!--Course plan section-->

                    <div class="myCourses" id="coursePlan">

                        <div class="info">
                            <p class="sectionTitle">Click on the Course to open course plan.</p>
                            <div class="myCourseList">
                                <a href="#" class="courseThumb">
                                    <img class="thumbImg" src="../../Media/course/HtmlCss.png" alt="" width="150px">
                                    <p class="thumbTitle">HTML & CSS <i class="fas fa-check-circle greenLink"></i></p>
                                </a>
                                <a href="#" class="courseThumb">
                                    <img class="thumbImg" src="../../Media/course/phpfull.jpg" alt="" width="150px">
                                    <p class="thumbTitle">PHP <i class="fas fa-check-circle greenLink"></i></p>
                                </a>
                                <a href="#" class="courseThumb">
                                    <img class="thumbImg" src="../../Media/course/laravel.jpg" alt="" width="150px">
                                    <p class="thumbTitle">Laravel 8 <i class="fas fa-check-circle greenLink"></i></p>
                                </a>
                                <a href="#" class="courseThumb">
                                    <img class="thumbImg" src="../../Media/course/Flutter.webp" alt="" width="150px">
                                    <p class="thumbTitle">Flutter <i class="fas fa-check-circle greenLink"></i></p>
                                </a>
                            </div>
                        </div>

                        <div class="info">
                            <table>
                                <tr>
                                    <th width="10%">Class</th>
                                    <th width="90%">Topics</th>
                                </tr>
                                <tr>
                                    <td width="10%">01</td>
                                    <td width="90%">
                                        <ol>
                                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, rerum.</li>
                                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, rerum.</li>
                                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, rerum.</li>
                                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, rerum.</li>
                                        </ol>
                                    </td>
                                </tr>
                                <tr>
                                    <td>01</td>
                                    <td>
                                        <ol>
                                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, rerum.</li>
                                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, rerum.</li>
                                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, rerum.</li>
                                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, rerum.</li>
                                        </ol>
                                    </td>
                                </tr>
                                <tr>
                                    <td>01</td>
                                    <td>
                                        <ol>
                                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, rerum.</li>
                                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, rerum.</li>
                                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, rerum.</li>
                                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, rerum.</li>
                                        </ol>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>











                </div>

            </div>

        </div>

        <!--placeholder-->
        <span></span>

    </div>














    <div class="allRight">

        <!--right side fixed-->

        <div class="right">

            <!--portion one-->

            <div class="portion1" id="portion1">

            

            </div>

            <!--portion two-->

            <div class="portion2" id="portion2">

            

            </div>

        </div>

    </div>















    <script type="text/javascript">

        $('input[type="radio"]').click(function () {
            var inputValue = $(this).attr("value");
            if (inputValue == "Baiust") {
                $("#baiust").show();
                $("#refer").hide();
                $("#none").hide();
            } else if (inputValue == "Referred") {
                $("#baiust").hide();
                $("#refer").show();
                $("#none").hide();
            } else if (inputValue == "None")  {
                $("#baiust").hide();
                $("#refer").hide();
                $("#none").show();
            }
        });

        function showPortion1() {
            document.getElementById("portion1").style.display = 'block';
            document.getElementById("portion2").style.display = 'none';

            document.getElementById("signUp").style.display = 'none';
            document.getElementById("content").style.display = 'grid';
            document.getElementById("courseBtns").style.display = 'block';
        }

        function showPortion2() {
            document.getElementById("portion2").style.display = 'block';
            document.getElementById("portion1").style.display = 'none';

            document.getElementById("signUp").style.display = 'grid';
            document.getElementById("content").style.display = 'none';
            document.getElementById("courseBtns").style.display = 'none';
        }

        function allBtnClicked() {
            document.getElementById("allBtn").style.color = '#FF165D';
            document.getElementById("webBtn").style.color = '#000';
            document.getElementById("appBtn").style.color = '#000';

            document.getElementById("web1").style.display = 'grid';
            document.getElementById("web2").style.display = 'grid';
            document.getElementById("web3").style.display = 'grid';
            document.getElementById("app").style.display = 'grid';
            
        }

        function webBtnClicked() {
            document.getElementById("webBtn").style.color = '#FF165D';
            document.getElementById("allBtn").style.color = '#000';
            document.getElementById("appBtn").style.color = '#000';

            document.getElementById("web1").style.display = 'grid';
            document.getElementById("web2").style.display = 'grid';
            document.getElementById("web3").style.display = 'grid';
            document.getElementById("app").style.display = 'none';
            
        }

        function appBtnClicked() {
            document.getElementById("appBtn").style.color = '#FF165D';
            document.getElementById("allBtn").style.color = '#000';
            document.getElementById("webBtn").style.color = '#000';

            document.getElementById("web1").style.display = 'none';
            document.getElementById("web2").style.display = 'none';
            document.getElementById("web3").style.display = 'none';
            document.getElementById("app").style.display = 'grid';
            
        }

    </script>

</body>
</html>


<!--<div class="gridCol_2_size_7_3 gridGap_2 w_75Per m_a">

    <span></span>

    preview start

    <div class="posFix top_0 right_110 w_25Per h_100Per">

        <h2 class="titleR mt_112px">         
            Details
        </h2>

        <div class="ofScrollY h_100Per pr_10px pl_10px scrlNone" id="detailsList">

            This slot holds, js generated details of previews for all colors

        </div>

    </div>

    preview end

</div>-->