<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Form-->
    <link rel="stylesheet" href="../../Style/form.css">

    <!--Table-->
    <link rel="stylesheet" href="../../Style/table.css">

    <!--Keyframes-->
    <link rel="stylesheet" href="../../Style/keyframes.css">

    <!--Basic-->
    <link rel="stylesheet" href="../../Style/coursePortal/index.css">
    <link rel="stylesheet" href="../../Style/coursePortal/portalHome.css">

    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap" rel="stylesheet">

    <!--radio toggle-->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <!--font awesome-->
    <script src="https://kit.fontawesome.com/aafecdc4bf.js" crossorigin="anonymous"></script>

    <!--Global-->
    <link rel="stylesheet" href="../../Style/global.css">

    <!-- script -->
	<script src="../../Script/triggerClick.js"></script>
    <script src="../../Script/imageViewer.js"></script>
    <script src="../../Script/toggleOnClick.js"></script>

    <title>Document</title>

</head>
<body>
















    <div class="allLeft">

        <!--left side scrollable-->

        <div class="left">

            <!--nav fixed-->

            <div class="nav">
                <p><span class="bd">BD</span> <span class="courses">Courses</span></p>

                <div class="links" id="courseBtns">
                    <button class="linkBtn" id="allBtn" onclick="allBtnClicked()">All</button>
                    <button class="linkBtn" id="appBtn" onclick="appBtnClicked()">App</button>
                    <button class="linkBtn" id="webBtn" onclick="webBtnClicked()">Web</button>
                    <button class="linkBtn" id="pdfBtn" onclick="pdfBtnClicked()">Pdf</button>
                    <button class="linkBtn" id="vidBtn" onclick="vidBtnClicked()">Videos</button>
                </div>
            </div>

            <div class="navHolder">placeholder</div>

            <!--content navigation panel fixed-->

            <div class="contentPanel">

                <a href="myCourses.html" class="panelItem">My Courses</a>
                <a href="coursePlan.html" class="panelItem">Course Plan</a>
                <a href="resources.html" class="panelItem active">Resources</a>
                <a href="#" class="panelItem">Daily Tasks</a>
                <a href="#" class="panelItem">Final Project</a>
                <a href="#" class="panelItem">Ranking</a>
                <a href="#" class="panelItem">Certificate</a>

            </div>

            <!--content scrollable-->

            <div class="portal" id="content">

                <span></span>

                <div class="contents">













                    <!--My courses section-->

                    <div class="myCourses" id="myCourses">

                        <div class="info">
                            <p class="sectionTitle">You've registered for :</p>
                            <div class="myCourseList">
                                <a href="#" class="courseThumb">
                                    <img class="thumbImg" src="../../Media/course/HtmlCss.png" alt="" width="150px">
                                    <p class="thumbTitle">HTML & CSS <i class="fas fa-check-circle greenLink"></i></p>
                                </a>
                                <a href="#" class="courseThumb">
                                    <img class="thumbImg" src="../../Media/course/phpfull.jpg" alt="" width="150px">
                                    <p class="thumbTitle">PHP <i class="fas fa-check-circle greenLink"></i></p>
                                </a>
                                <a href="#" class="courseThumb">
                                    <img class="thumbImg" src="../../Media/course/laravel.jpg" alt="" width="150px">
                                    <p class="thumbTitle">Laravel 8 <i class="fas fa-check-circle greenLink"></i></p>
                                </a>
                                <a href="#" class="courseThumb">
                                    <img class="thumbImg" src="../../Media/course/Flutter.webp" alt="" width="150px">
                                    <p class="thumbTitle">Flutter <i class="fas fa-check-circle greenLink"></i></p>
                                </a>
                            </div>
                        </div>

                        <div class="info">
                            <div class="advert twoin1">
                                <div class="advert" id="pdfAll">
                                    <a href="#" class="resourceThumb">
                                        <i class="fas fa-file-pdf resourceLogo"></i>
                                        <div class="AdvertInfo">
                                            <p class="thumbTitle">Course</p>
                                            <p class="text">Pdf Name.</p>
                                        </div>
                                    </a>
                                    <a href="#" class="resourceThumb">
                                        <i class="fas fa-file-pdf resourceLogo"></i>
                                        <div class="AdvertInfo">
                                            <p class="thumbTitle">Course</p>
                                            <p class="text">Pdf Name.</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="advert" id="videoAll">
                                    <a href="#" class="resourceThumb">
                                        <i class="fas fa-file-video resourceLogo"></i>
                                        <div class="AdvertInfo">
                                            <p class="thumbTitle">Course</p>
                                            <p class="text">Video Name.</p>
                                        </div>
                                    </a>
                                    <a href="#" class="resourceThumb">
                                        <i class="fas fa-file-video resourceLogo"></i>
                                        <div class="AdvertInfo">
                                            <p class="thumbTitle">Course</p>
                                            <p class="text">Video Name.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>











                </div>

            </div>

        </div>

        <!--placeholder-->
        <span></span>

    </div>














    <div class="allRight">

        <!--right side fixed-->

        <div class="right">

            <!--portion one-->

            <div class="studentInfo">

                <form action="" method="post" class="message_form" enctype="multipart/form-data">

                    <img src="../../Media/System/Profile_avatar_placeholder_large.png" alt="Upload Photo" class="placeholder_image" onclick="triggerClick()">
                    <input class="input img_uploader" type="file" name="message_photo" onchange="displayImage(this)" id="place_holder">
    
                </form>

                <div class="text studentBasicInfo">
                    <p>Student Name.</p>
                    <p>Student ID.</p>
                    <p>Batch No.</p>
                </div>

            </div>

            <!--portion two-->

            <div class="otherInfo">

                <div class="rightNav">
                    <button class="rightNavBtn" id="gradeBtn" onclick="showGrade()"><i class="fas fa-graduation-cap"></i></button>
                    <button class="rightNavBtn" id="paymentBtn" onclick="showPayment()"><i class="fas fa-dollar-sign"></i></button>
                    <a href="#" class="rightNavBtn" id="messagingBtn" onclick="showMessaging()"><i class="fas fa-comments"></i></a>
                    <button class="rightNavBtn" id="notifyBtn" onclick="showNotification()"><i class="fas fa-bell"></i></button>
                    <a href="#" class="rightNavBtn" id="securityBtn" onclick="showSecurity()"><i class="fas fa-lock"></i></a>
                </div>

                <div class="grade rightSections" id="grade">
                    <div class="gradeContent">
                        <p class="gradeSymbol text">A+</p>
                        <p class="text gradeInfo"> 
                            Total points: 
                            <span class="points">500/500.</span>
                            <span class="gradeInfo">Very Good.</span>
                        </p>
                    </div>

                    <div class="gradQuestions">
                        <p class="text"><u>Questions:</u></p>
                        <div>
                            <p class="text">How does the point system work?</p>
                            <p class="textLight ans"><span>Ans:</span> <span> The point system works by deduction. You will start with 500 points at the beginning. Deduction will happen based on your performance. This process is irreversible. </span></p>
                        </div>
                        <div>
                            <p class="text">When does my points get deducted?</p>
                            <p class="textLight ans">
                                    <span>Ans:</span> 
                                    <span> These will cause point deduction. <br>
                                        1. Absence in class. <br>
                                        2. Being late. <br>
                                        3. Unresponsiveness in class.<br>
                                        4. Missing daily task.<br>
                                        5. Copying daily task.<br>
                                        6. Missing final project.<br>
                                    </span>
                            </p>
                        </div>
                        <div>
                            <p class="text">Will this affect my ranking?</p>
                            <p class="textLight ans"><span>Ans:</span> <span> Yes, It will.</span></p>
                        </div>
                        <div>
                            <p class="text">Will this grade be present in my certificate?</p>
                            <p class="textLight ans"><span>Ans:</span> <span> No, grades won't be present.</span></p>
                        </div>
                    </div>
                </div>

                <div class="payment rightSections" id="payment">
                    <table width="100%">
                        <tr>
                            <th>Course Fee</th>
                            <th>Discount</th>
                            <th>Paid amount</th>
                            <th>Due amount</th>
                        </tr>
                        <tr>
                            <td align="center">1000</td>
                            <td align="center">100</td>
                            <td align="center">300</td>
                            <td align="center">600</td>
                        </tr>
                    </table>

                    <form class="paymentForm" action="">

                            <label class="label" for="due">Pay Due</label>
                            <input class="input" name="due" type="text" placeholder="Transaction ID" required>
                            <input class="formBtn" name="due" type="submit" value="Confirm Payment.">

                    </form>
                </div>

                <div class="notification rightSections" id="notification">
                    <p class="text noticeHeader">Notice:</p>
                    <p class="textLight notice">This is a Notice. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates eos maxime, nisi sunt nostrum tempore expedita ipsam ratione minima. Doloribus?</p>
                    <p class="text noticeHeader">Notifications:</p>
                    <p class="textLight notice">This is a Notification. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla deleniti, eius ut facere praesentium atque. 
                        <form action="">
                            <input type="hidden" value="clrNotification">
                            <label class="labelType2 text">Click</label>
                            <button type="submit" class="cancelBtnLight"><i class="fas fa-times"></i></button>
                            <label class="labelType2 text">to delete notifications.</label>
                        </form>
                    </p>
                </div>

                <div class="messaging rightSections" id="messaging">
                    <p class="underdevelopment">
                        <i class="fas fa-cog bigCog"></i>
                        <i class="fas fa-cog smallCogUp"></i>
                        <i class="fas fa-cog smallCogDown"></i>
                    </p>
                </div>

                <div class="security rightSections" id="security">
                    <p class="underdevelopment">
                        <i class="fas fa-cog bigCog"></i>
                        <i class="fas fa-cog smallCogUp"></i>
                        <i class="fas fa-cog smallCogDown"></i>
                    </p>
                </div>



            </div>

        </div>

    </div>












</body>
</html>

